nav {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 30px 50px 30px 50px;
}

.normal {
    font-family: "Montserrat", sans-serif;;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.logo {
    width: 60%;
}

.navigation {
    padding: 15px 60px 15px 60px;
    background-color: #e7f5f8
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.analogue {
    margin-top: 100px;
    margin-left: 350px;

}

.analogueText {
    font-family: "Montserrat", sans-serif;;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;

    margin-top: 120px;
    margin-right: 180px;

}

.container {
    max-width: 100%;
}

.socialIcon {
    width: 35px;
    padding-top: 20px;
    margin-left: 5px;
}

.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 28px;
    padding-bottom: 80px;
    margin-top: 100px;
    text-align: center;

}

.headingsmall {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 30px;

}

.buttons {
    margin-top: 30px;
    margin-left: 10px;
}


.monitor {
    margin: 0px 0px 100px 350px;
}

.progress {
    margin-left: 120px;
    width: 50%;
}

.centeredBody {
    margin: 20px 450px 100px 450px;
    display: inline-block;
    float: none;
    text-align: left;
}

a {
    color: #5dbcd2;
}

a:hover {
    color: #5dbcd2;
}

.form {
    width: 50%;

}

.submit {
    margin-top: 10px;
    font-size: 1.1em;
    /*float: left;*/
    width: auto;
    background-color: #5dbcd2;
    color: #fff;

}

.edit {
    font-size: 0.8em;
    width: auto;
    background-color: #5dbcd2;
    color: #fff;

}

.error {
    color: red;
    font-size: 80%;
}

.error-page {
    margin-top: 50px;
}

@media (min-width: 375px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
