nav {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 30px 50px 30px 50px;
}

.normal {
    font-family: "Montserrat", sans-serif;;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.logo {
    width: 60%;
}

.navigation {
    padding: 30px 50px 30px 50px;
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.analogue {
    margin-top: 100px;
    margin-left: 350px;

}

.analogueText {
    font-family: "Montserrat", sans-serif;;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;

    margin-top: 120px;
    margin-right: 180px;

}

.container {
    max-width: 100%;
}

.socialIcon {
    width: 35px;
    padding-top: 20px;
    margin-left: 5px;
}

.heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 28px;
    padding-bottom: 80px;
    margin-top: 40px;
    text-align: center;

}

.buttons {
    margin-top: 30px;
    margin-left: 10px;
}

.monitor {
    margin: 0px 0px 100px 350px;
}

.progress {
    margin-left: 120px;
    width: 50%;
}

.centeredBody {
    margin: 20px 450px 100px 450px;
    display: inline-block;
    float: none;
    text-align: left;
}

a {
    color: #f66d9b;
}

a:hover {
    color: #f66d9b;
}

.form {
    width: 50%;

}

.submit {
    margin-top: 20px;
    font-size: 1.1em;
    float: left;
    width: 100px;
    background-color: #f66d9b;
    color: #fff;

}

.error {
    color: red;
    font-size: 80%;
}

.gal {


    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;


}
.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {

    .gal {


        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;


    }

}
